**/node_modules

/.phpunit.cache
/public/manifest.json
/public/hot
/storage/docker
/storage/tmp
/vendor

.env
.env.*
!.env.example
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache

*.sh

/.idea/*
/.git/*
/.git-old/*

.DS_Store
.DS_Store?

.vscode/launch.json

/.phpstorm.meta.php
/_ide_helper.php
/stubs/**
/app/Domains/Core/Command/MakeDomainCommand.php
