version: '3.8'

services:
  platform-mysql:
    image: mysql:8.0
    container_name: platform-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: platform
      MYSQL_USER: platform
      MYSQL_PASSWORD: platform
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql-data:/var/lib/mysql
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_unicode_ci
    networks:
      - platform-network
    healthcheck:
      test: mysqladmin ping -h localhost --password=root
      interval: 15s
      retries: 15

  platform-redis:
    image: redis:7.0
    container_name: platform-redis
    restart: unless-stopped
    command: redis-server --appendonly yes --maxmemory 10gb --maxmemory-policy noeviction
    volumes:
      - redis-data:/data
    networks:
      - platform-network
    healthcheck:
      test: redis-cli ping
      interval: 5s
      retries: 15

  platform-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: platform-app
    restart: unless-stopped
    volumes:
      - ./../storage:/app/storage
    depends_on:
      platform-mysql:
        condition: service_healthy
      platform-redis:
        condition: service_healthy
    ports:
      - "8080:80"
      - "8091:8091"
    expose:
      - "8080"
      - "8091"
    networks:
      - platform-network
    tty: true

  platform-worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: platform-worker
    restart: unless-stopped
    volumes:
      - ./../storage:/app/storage
    depends_on:
      platform-mysql:
        condition: service_healthy
      platform-redis:
        condition: service_healthy
    command: php artisan queue:work --queue=platform --tries=3 --timeout=120
    networks:
      - platform-network
    deploy:
      replicas: 5

volumes:
  mysql-data:
  redis-data:

networks:
  platform-network:
    name: platform-network
    driver: bridge