services:
    platform-redis:
        image: redis:7.0
        container_name: platform-redis
        restart: unless-stopped
        networks:
            - platform-network
        healthcheck:
            test: redis-cli ping
            interval: 5s
            retries: 15

    platform-app:
        container_name: platform-app
        restart: unless-stopped
        depends_on:
            platform-redis:
                condition: service_healthy
        volumes:
            - ./../storage:/app/storage
        build:
            context: ..
            dockerfile: ./docker/Dockerfile
        ports:
            - "8080:80"
            - "8091:8091"
        expose:
            - "8080"
            - "8091"
        networks:
            - platform-network
        tty: true

networks:
  platform-network:
    name: platform-network
    driver: bridge
