version: '3.8'
services:
  platform-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: platform-app
    restart: unless-stopped
    volumes:
      - ./../storage:/app/storage
    depends_on:
      - platform-mysql
      - platform-redis
    networks:
      - platform-network
  platform-worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: platform-worker
    restart: unless-stopped
    volumes:
      - ./../storage:/app/storage
    depends_on:
      - platform-mysql
      - platform-redis
    command: php artisan queue:work
    networks:
      - platform-network
  platform-mysql:
    image: mysql:8.0
    container_name: platform-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: platform
      MYSQL_USER: platform
      MYSQL_PASSWORD: platform
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - platform-network
  platform-redis:
    image: redis:7.0
    container_name: platform-redis
    restart: unless-stopped
    command: redis-server --maxmemory 15gb --maxmemory-policy allkeys-lru
    volumes:
      - redis-data:/data
    networks:
      - platform-network
volumes:
  mysql-data:
  redis-data:
networks:
    platform-network:
        name: platform-network
        driver: bridge
